div.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 200px;
  border: 3px solid #73AD21;
}
div.fixed {
  font-family: Arial, sans-serif;
  margin: 20px;
  line-height: 1.6;
  background-color: #4a90e2;
  padding: 20px;
}
div.fixed img {
  max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
    border: 2px solid #000000;
}
body {
    min-height: 200vh;
}