div.static {
  position: static;
  border: 3px solid #73AD21;
}

div.static {
  font-family: Arial, sans-serif;
  margin: 20px;
  line-height: 1.6;
  background-color: #e44a4a;
  padding: 20px;}

div.static img {
  max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
    border: 2px solid #000000;
}