div.sticky {
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: #cae8ca;
  border: 2px solid #4CAF50;
}
body {
    min-height: 200vh;
}
div.sticky p {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}
body {
    background-color: lightyellow;
}

div.sticky img {
  max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
    border: 2px solid #000000;
}